<%= form_for(personnel) do |f| %>
  <% if personnel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personnel.errors.count, "error") %> prohibited this personnel from being saved:</h2>

      <ul>
      <% personnel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-field row">
    <label class="col-xs-6">NAME</label>
    <div class="col-xs-6">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="actions" style="text-align: center;margin-top:40px">
    <%= link_to '<span class="fa fa-angle-left" style="color:#fff;font-size:50px;float:left"></span>'.html_safe, personnels_path %>
    <%= f.submit 'Save Personnel', class: "create_model" %>
  </div>
<% end %>
